html
  font-size: 18px;

  @media screen and (min-width: 900px)
    font-size: 20px

p
  color $text-gray
  font-size .8rem
  &:last-child
    margin-bottom 0

a
  color $primary-yellow
  &:hover
    color $white
    text-decoration none
