@import "/static/lato.css"

//Colors
$primary-yellow = #e0a80d
$white = #fefaee
$black = #2b2c2c
$black-dark = #282929
$primary-gray = #2d2e2e
$secondary-gray = #3f4040
$tertiary-gray = #a4a5a6
$quaternary-gray = #717273
$quinary-gray = #404242
$text-gray = #979899


//Fonts
$lato = 'latoregular', sans-serif
$lato-light = 'latolight', sans-serif
$lato-bold = 'latobold', sans-serif

$break-xl = 1200px
$break-lg = 992px
$break-md = 768px
$break-sm = 576px
